* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
  }
  
body {
    background-color: white;
    color: black;
}

header, main, footer {
    margin: 10px;
    background-color: azure;
    padding: 10px;
}